{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{{ url_for('cart') }}" method="post">
    <div class="row">
        {% for i in products %}
        <div class="card m-3" style="width:180px; position: relative;">
            <div style="position: absolute; top: 5px; right: 5px;">
                <form action="/delete/{{ i[0] }}/" method="post">
                    <input type="submit" value="❌" name="delete_button" class="btn btn-sm"
                           onclick="return confirm('Are you sure you want to delete this product?')">
                </form>
            </div><br>
            <img src="{{ i[2] }}" alt="{{ i[3] }}">
            <h5 class="card-title">{{ i[3] }}</h5>
            <span>{{ (i[5]*i[6])|round(2) }}грн</span>
            <form method="post" name="product quantity" action="/cart/"><br>
            <input type="number" name="quantity_{{ i[0] }}" value="{{ i[6] }}" min="1" style="width:45px">
            </form>
        </div>
        {% endfor %}
    </div>
</form>
<form method="post">
{% if not message%}
    <p class="mt-5">До сплати:  {{total_sum|round(2)}}грн</p>
    {%if not name%}
    <button name="submit_order" value='login' class="btn btn-primary mt-3">Замовити все</button>
    {%else%}
    <button name="submit_order" value='order' class="btn btn-primary mt-3">Замовити все</button>
    {%endif%}
{% else %}
<div class="mt-5" style="font-size: 24px; font-weight: bold; display: flex;">
<p>{{message}}, перегляньте</p> <a href="/" style="font-size: 24px; font-weight: bold; margin-left: 7px"> каталог</a>
</div>
{% endif %}
</form>
</div>
{% endblock %}
