{% extends 'base.html'%}

{%block header%}
<header class="p-3 bg-light shadow-sm">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center me-1">
            <a href="/" class="btn btn-outline-primary me-1">На головну</a>
            <a href="/cart/" class="btn btn-outline-primary me-1">Кошик</a>
        </div>

        <form action="/search" class="d-flex flex-grow-1 justify-content-center ms-3" role="search">
            <div class="input-group" style="max-width: 500px; width: 100%; min-width: 200px">
                <input name="search" type="search" class="form-control" placeholder="Пошук..." aria-label="Search">
                <button type="submit" class="btn btn-primary">🔍︎</button>
            </div>
        </form>
    </div>
</header>


    {%endblock%}

{% block content%}
{% if not message%}
<div class="container">
<h1 class="display-4 ml-5">
    {% block title %} Логінізація {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        {{form.email.label}}
        {{form.email(class='form-control', placeholder='ivan@gmail.com')}}
    </div>
        <div class="form-group">
{{form.password.label}}
{{form.password(class='form-control', placeholder='Password123')}}
</div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Увійти">
    </div>
</form>

    <div class="mt-5">
       <p>Ще не маєте акаунту?</p>
        <a href="/registr/">Зареєструватися</a>
    </div>

</div>
{%else%}
{{message}}
{%endif%}
{%endblock %}